In [1]:
import pandas as pd
import json

In [2]:
covid = "data.csv"
covid_df = pd.read_csv(covid)
covid_df.head()

,city,county,state,country,cases,deaths,recovered,tested,active,population,lat,long,url,maintainers,aggregate,rating,tz,featureId,sources,curators
0,NaN,NaN,NaN,AFG,84.0,2.0,NaN,NaN,NaN,34124811.0,33.930139,67.689542,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Asia/Kabul""]",0.0,NaN,NaN
1,NaN,NaN,NaN,ALB,146.0,5.0,NaN,NaN,NaN,3047987.0,41.112453,20.154356,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Tirane""]",1.0,NaN,NaN
2,NaN,NaN,NaN,DZA,302.0,21.0,NaN,NaN,NaN,40969443.0,28.032339,1.643238,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Algiers""]",2.0,NaN,NaN
3,NaN,NaN,NaN,AND,188.0,1.0,NaN,NaN,NaN,85702.0,42.515016,1.568152,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Andorra""]",3.0,NaN,NaN
4,NaN,NaN,NaN,AGO,3.0,0.0,NaN,NaN,NaN,29310273.0,-11.211304,17.898856,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Luanda""]",4.0,NaN,NaN

In [3]:
del covid_df['city']
covid_df

,county,state,country,cases,deaths,recovered,tested,active,population,lat,long,url,maintainers,aggregate,rating,tz,featureId,sources,curators
0,NaN,NaN,AFG,84.0,2.0,NaN,NaN,NaN,34124811.0,33.930139,67.689542,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Asia/Kabul""]",0.0,NaN,NaN
1,NaN,NaN,ALB,146.0,5.0,NaN,NaN,NaN,3047987.0,41.112453,20.154356,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Tirane""]",1.0,NaN,NaN
2,NaN,NaN,DZA,302.0,21.0,NaN,NaN,NaN,40969443.0,28.032339,1.643238,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Algiers""]",2.0,NaN,NaN
3,NaN,NaN,AND,188.0,1.0,NaN,NaN,NaN,85702.0,42.515016,1.568152,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Europe/Andorra""]",3.0,NaN,NaN
4,NaN,NaN,AGO,3.0,0.0,NaN,NaN,NaN,29310273.0,-11.211304,17.898856,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",country,0.470588,"[""Africa/Luanda""]",4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3628,Teton County,WY,USA,6.0,NaN,NaN,NaN,NaN,23081.0,43.950812,-110.553385,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3576.0,NaN,NaN
3629,Uinta County,WY,USA,0.0,NaN,NaN,NaN,NaN,20299.0,41.287295,-110.547361,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3577.0,NaN,NaN
3630,Washakie County,WY,USA,0.0,NaN,NaN,NaN,NaN,7885.0,43.834371,-107.830746,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3578.0,NaN,NaN
3631,Weston County,WY,USA,0.0,NaN,NaN,NaN,NaN,6967.0,43.840034,-104.567947,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.254902,"[""America/Denver""]",3579.0,NaN,NaN
3632,NaN,WY,USA,49.0,NaN,NaN,NaN,NaN,578759.0,42.999967,-107.551996,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",county,0.176471,"[""America/Denver""]",3580.0,NaN,NaN

In [4]:
covid_df.count()

county         3205
state          3458
country        3633
cases          3629
deaths         1511
recovered       446
tested          439
active          421
population     3465
lat            3590
long           3590
url            3633
maintainers    1045
aggregate      3558
rating         3633
tz             3584
featureId      3584
sources         440
curators        103
dtype: int64

In [5]:
covid_world = covid_df[["county", "state", "country", "cases", "deaths", "lat", "long"]]
covid_world

               county state country  cases  deaths        lat        long
0                 NaN   NaN     AFG   84.0     2.0  33.930139   67.689542
1                 NaN   NaN     ALB  146.0     5.0  41.112453   20.154356
2                 NaN   NaN     DZA  302.0    21.0  28.032339    1.643238
3                 NaN   NaN     AND  188.0     1.0  42.515016    1.568152
4                 NaN   NaN     AGO    3.0     0.0 -11.211304   17.898856
...               ...   ...     ...    ...     ...        ...         ...
3628     Teton County    WY     USA    6.0     NaN  43.950812 -110.553385
3629     Uinta County    WY     USA    0.0     NaN  41.287295 -110.547361
3630  Washakie County    WY     USA    0.0     NaN  43.834371 -107.830746
3631    Weston County    WY     USA    0.0     NaN  43.840034 -104.567947
3632              NaN    WY     USA   49.0     NaN  42.999967 -107.551996

[3633 rows x 7 columns]

In [6]:
covid_world = covid_world.dropna(subset=['lat'])

In [7]:
covid_world = covid_world.dropna(subset=['long'])

In [10]:
covid_world = covid_world[covid_world['country'] != 'USA']

In [11]:
covid_world = covid_world[covid_world['cases'] != 0]

In [12]:
covid_world.count()

county     144
state      333
country    506
cases      502
deaths     322
lat        506
long       506
dtype: int64

In [13]:
covid_world.dtypes

county      object
state       object
country     object
cases      float64
deaths     float64
lat        float64
long       float64
dtype: object

In [14]:
covid_world = covid_world.reset_index(drop=True)

In [15]:
covid_world

,county,state,country,cases,deaths,lat,long
0,NaN,NaN,AFG,84.0,2.0,33.930139,67.689542
1,NaN,NaN,ALB,146.0,5.0,41.112453,20.154356
2,NaN,NaN,DZA,302.0,21.0,28.032339,1.643238
3,NaN,NaN,AND,188.0,1.0,42.515016,1.568152
4,NaN,NaN,AGO,3.0,0.0,-11.211304,17.898856
...,...,...,...,...,...,...,...
501,York,England,GBR,14.0,NaN,53.943917,-1.079993
502,Dumfries and Galloway,Scotland,GBR,31.0,NaN,55.081490,-4.010547
503,Fife,Scotland,GBR,29.0,NaN,56.241441,-3.161651
504,Highland,Scotland,GBR,22.0,NaN,57.579800,-4.866933
505,Shetland,Scotland,GBR,24.0,NaN,60.308702,-1.328460

In [16]:
covid_world.to_json(r'covid_world.json', orient = 'records')